# Ignore generated objects
.vs
UpgradeLog.htm
/**/Debug/
/**/Release/
/**/*.idb
/**/*.pdb
/game/src/OBJDIR

# Ignore build libs
/libgame/**/*.lib
/libthecore/**/*.lib
/libpoly/**/*.lib
/liblua/**/*.lib
/libpoly/**/*.lib
/libserverkey/**/*.lib
/libsql/**/*.lib

# Ignore build executables
/db/db_d.*
/game/game_d.*
/game/src/quest/qc.exe

# Ignore installed dependencies
vcpkg_installed